# dev tools, config
.github/
.vscode/
coverage/
.git/
.gitignore
.prettier*
.eslintrc*
jest*
*.md

# ignore the dependencies
node_modules/ 

# Output of 'npm pack'
*.tgz

# test
tests/
!tests/.htpasswd

# env
env/
.env*
env.jest

# Include the license so we don't break the license/copyright
!LICENSE.md
